<div class="card" style="width: 100%;">

  <div style="height: 200px; overflow: hidden;">
    <img src="https://source.unsplash.com/random?b=222" class="card-img-top img-fluid"
      style="height: auto; width: 100%;">
  </div>


  <div class="card-body" style="height: 150px;">
    <h5 class="card-title">Produto</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="card-text">R$ 38.90</p>
  </div>
</div>

<!-- <div class="card" style="width: 100%;">

  <div style="height: 200px; overflow: hidden;">
    <img src="{{imageUrl}}" class="card-img-top img-fluid" style="height: auto; width: 100%;">
  </div>


  <div class="card-body" style="height: 150px;">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{text}}</p>
  </div>
</div> -->