<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/svgs/logo.svg" alt="CONECT'ARTE" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbar"
    >
      <ul class="navbar-nav me-auto flex-grow-1 justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/store"
            routerLinkActive="active"
            aria-current="page"
          >
            Loja
          </a>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <a
              class="btn"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorias
            </a>

            <ul class="dropdown-menu">
              <ul>
                <li>
                  <a class="dropdown-item" href="#">Artesanato em Papel</a>
                </li>
                <li><a class="dropdown-item" href="#">Tricô e Crochê</a></li>
                <li><a class="dropdown-item" href="#">Costura Criativa</a></li>
                <li><a class="dropdown-item" href="#">Arte em Madeira</a></li>
                <li><a class="dropdown-item" href="#">Pintura em Tecido</a></li>
                <li><a class="dropdown-item" href="#">Cerâmica e Argila</a></li>
                <li>
                  <a class="dropdown-item" href="#">Bijuterias e Acessórios</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Patchwork e Quilting</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Decoração com Reciclagem</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Macramê e Tecelagem</a>
                </li>
              </ul>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-us"
            routerLinkActive="active"
            aria-current="page"
          >
            Sobre
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            aria-current="page"
          >
            Contato
          </a>
        </li>
      </ul>

      <div id="icons-right" class="d-flex">
        <div class="item py-4 px-3" routerLink="/search">
          <i class="fa-solid fa-search"></i>
        </div>

        <div class="item py-4 px-3" routerLink="/account">
          <i class="fa-solid fa-circle-user"></i>
        </div>

        <div class="item py-4 px-3" routerLink="/account/favorites">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
