<main>
    <section class="main-section">
        <div class="headline-contact">
            <h1 class="tittle-contact">Como podemos te ajudar?</h1>
        </div>
        <div class="mb-3">
            <h1>Fale Conosco</h1>
            <label for="FormControlInput" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="FormControlInput" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="FormControlTextarea1" class="form-label">Mensagem:</label>
            <textarea class="form-control message" id="FormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="form-button">Enviar</button>
        </div>
    </section>
</main>