<app-principal-card></app-principal-card>

<main>
    <section class="main-section">
        <div class="board">
            <div class="card">
                <h2 class="tittle-cards">Localização Geográfica</h2>
                <p class="text-cards">Ao acessar o site, os usuários são solicitados a compartilhar sua localização,
                    permitindo que o sistema exiba uma lista
                    personalizada de produtos artesanais disponíveis em sua área. Isso garante que os usuários encontrem
                    facilmente itens
                    únicos e exclusivos produzidos localmente.</p>
            </div>
            <div class="card">
                <h2 class="tittle-cards">Catálogo Diversificado</h2>
                <p class="text-cards">O site apresenta uma ampla variedade de categorias de produtos artesanais,
                    incluindo joias, roupas, decoração para casa,
                    arte, produtos de cuidados pessoais e muito mais. Os usuários podem explorar diferentes categorias
                    de acordo com seus
                    interesses e preferências.</p>
            </div>
            <div class="card">
                <h2 class="tittle-cards">Perfil dos Artesãos</h2>
                <p class="text-cards">Cada artesão cadastrado no Conect'art possui um perfil personalizado que destaca
                    sua história, técnicas de produção, e
                    uma galeria de produtos disponíveis. Isso permite que os usuários conheçam os artesãos por trás dos
                    produtos e apoiem
                    diretamente suas comunidades locais.</p>
            </div>
        </div>
        <h1 class="tittle-reviews">Depoimentos</h1>
        <div class="identification-left">
            <h3>Maria - 34 anos - Blumenau</h3>
        </div>
        <div class="review-left">
            <div class="imagem-review"><img src="assets/maria.jpg" width="200" height="200"></div>
            <p class="text-review-left">"Estou encantada com a variedade de produtos artesanais disponíveis no
                Conect'art
                Como alguém que valoriza o trabalho
                manual e apoia a economia local, foi incrível encontrar tantas opções únicas e exclusivas produzidas por
                talentosos
                artesãos da minha própria cidade. Comprei algumas peças de decoração para minha casa e fiquei
                impressionada com a
                qualidade e atenção aos detalhes."</p>
        </div>
        <div class="identification-right">
            <h3>Pedro - 28 anos - Joinville</h3>
        </div>
        <div class="review-right">
            <p class="text-review-right">"Encontrei o presente perfeito para minha namorada no Conect'art! Ela adora
                joias artesanais e, graças ao site, pude
                encontrar um lindo colar feito à mão por um artesão local aqui em Joinville."</p>
            <div class="imagem-review"><img src="assets/pedro.jpg" width="200" height="200"></div>
        </div>
        <div class="identification-left">
            <h3>Ana - 40 anos - Florianópolis</h3>
        </div>
        <div class="review-left">
            <div class="imagem-review"><img src="assets/ana.jpg" width="200" height="200"></div>
            <p class="text-review-left">"Como uma entusiasta do artesanato, fiquei impressionada com a qualidade e
                variedade de produtos disponíveis no site!
                Recentemente comprei algumas peças de cerâmica para presentear minha mãe no Dia das Mães e ela
                simplesmente amou. Além
                de encontrar presentes únicos e especiais, foi gratificante saber que estava apoiando diretamente
                artesãos locais da
                minha região. Recomendo o site para todos que valorizam produtos feitos à mão e desejam apoiar a
                comunidade local."</p>
        </div>
    </section>
</main>
