.card {
  display: block;
  cursor: pointer;

  .card-body {
    .card-text {
      font-size: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .card-teste {
      height: 300px;
    }
    .card-title {
      font-size: 1.6rem;
    }
    .price {
      font-size: 1.4rem;
    }
  }

  .card-footer {
    .teste {
      height: 3.75rem;
      text-align: center;
      // align-items: center;
      padding: 0.5rem;
    }

    font-size: 1rem;

    .seller {
      cursor: pointer;
      color: #000;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
