<div class="card h-100" *ngIf="product" [routerLink]="['/product', product.id]">
  <img [src]="product.image_url" class="card-img-top" [alt]="product.name" />

  <div class="card-body">
    <div class="card-teste">
      <h1 class="card-title">{{ product.name }}</h1>

      <h2 class="price">
        {{ product.price | currency : "BRL" }}
      </h2>

      <p class="card-text" [innerHTML]="product.description"></p>
    </div>
  </div>

  <div class="mt-auto">
    <div class="card-footer">
      <div class="teste" (click)="$event.stopPropagation()">
        Vendido por <br />
        <span class="seller" [routerLink]="['/seller', product.seller.id]">{{
          product.seller.name
        }}</span>
      </div>

      <hr />

      <small class="text-body-secondary">
        Criado em {{ product.createdAt | date : "shortDate" }}
      </small>
    </div>
  </div>
</div>
