<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col col-12">
    <div class="card" style="border-radius: 15px">
      <div class="card-body p-4">
        <div *ngIf="!seller">Carregando dados do artesão...</div>

        <div class="d-flex text-black" *ngIf="seller">
          <div class="flex-shrink-0">
            <img
              [src]="seller.image_url"
              alt="Image from seller: {{ seller.name }}"
              class="img-fluid"
              style="width: 180px; border-radius: 10px"
            />
          </div>

          <div class="flex-grow-1 ms-3">
            <h5 class="mb-1">{{ seller.name }}</h5>
            <p class="mb-2 pb-1">Artesão</p>

            <p>
              <i class="fa fa-link">&nbsp;</i>
              <a [href]="seller.url" target="_blank">Visitar site</a>
            </p>

            <p *ngIf="showDescription && seller.description">
              {{ seller.description }}
            </p>

            <p class="text-secondary">Cadastrado há 2 anos</p>

            <div class="d-flex pt-1">
              <app-contact-button
                [phone]="seller.phone_number"
              ></app-contact-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
